.login-container {
    text-align: center;
    background-color: beige;

    .loginForm {
        width: 20vw;
        padding: 20px;
        background-color: white;
    
        input {
            width: 100%-4;
        }
    }

}